/*----------- Header default.ctp ------------*/
#header-top-img{
  /*width: 100px;
  margin: 15px auto;
  padding: 0 5px;*/
}
.product{
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 5px;
}
#a{
  background-color: red;
}
#nav-search{
  margin-top: 10px;
}
.navbar-right p{
  margin: 0;
}
/*-------------Homes-index.php---------------*/
.pro-img-box{
  width: 150px;
  height: 150px;
}
.bxslider-img{
  height: 400px;
max-width: auto;
display: inline;
}

/*-------------Login-login.ctp-------------*/

.form-signin1{
  max-width:350px;
  margin: 0 auto;
  padding: 10px;
  background-color: orange;
}
.form-signin1 input[type="text"]{
  width: 100%;
}
.form-signin1 input[type='submit']{
  width: 100%;
  margin-top: 5px;
}
/*----------------UserRegister-register.ctp------------*/
.from-user-register{
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
}
.form-user-register input[type='text'],
.form-user-register input[type='email']{
  width: 100%;
}
/*----------------Page.ctp---------------------------*/
#page-container{
  margin-top: 30px;
}
.left-box img{
  max-width: 100%;
}
.clearfix {
  position: relative;
}
.clearfix h1{
  margin: 0;
}
#category{
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #333;
  padding: 4px;
  font-size: 12px;
}
.right-box p{
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid 	#808080;
}
.subtotal p{
  font-size: 14px;
  margin: 0;
  border:none;
}
#cart_page input[type="submit"],
#cart_page input[type="button"]{
  width: 100%;
  color: white;
  padding: 6px;
  margin-top: 20px;
  border: none;
  background-color: orange;
}
#totalprice{
  font-size: 30px;
  color: red;
}
/*-------------------addcart.ctp--------------------*/
.add-text-box{
  height: 50px;
  padding-top: 10px;
  background-color: #19bc9c;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0.05em;
}
#delete-page{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.add-pro-box{
  padding: 30px;
}
.add-pro-left{
  border-right: solid 1px gray;
}
.addpro-img{
  margin-right: 10px;
  float: left;
  width: 80px;
  height: 50px;
}
/*----------------Cart index.ctp----------------*/
.cart-title-box{
  margin-bottom: 30px;
}
.cart-table{
  width: 100%;
}
.cart-table th{
  height: 40px;
  background-color: #efefef;
  text-align: center;
}
.cart-table td{
  text-align: center;
  padding: 10px;
}
.cart-img{
  width: 100px;
}
/*---------------Buy index.ctp-----------------------*/
#buy-box{
  margin-top: 30px;
}
.step li{
  display: table-cell;
  width: 20%;
  padding-top: 15px;
  text-align: center;
}
.cart-icon{
    font-size: 24px;
    color: #ccc;
}
.cart-active{
  color: #128807;
}
.step p{
  padding-top: 20px;
  padding-left: 20px;
  border-top: 2px solid #CCC;
  top: 10px;
}
.form-group label{
  display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
}
.form-group  input[type="text"],input[type="email"]{
  width: 100%;
  height: auto;
  padding: 6px 10px;
  border-radius: 0.5em;
  border: 0.7px solid #bfbfbf;
}
.form-group input[type="text"]:focus,input[type="email"]:focus {
  border:solid 1px #428bca; /*  blue */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #428bca;
  outline: 0 none;
}
/*step2*/
#step2{
  /*display: none;*/
}
#step2 ul{
  margin-bottom: 30px;
}
#step2 li{
  display: inline-block;
  margin-right: 10px;
}
.form-group input[type="radio"]{
  margin-right: 5px;
}
/*step3*/
#step3{
  /*display: none;*/
}
#step3 li{
  display: inline-block;
  margin-right: 10px;
}
.form-group input[type="radio"]{
  margin-right: 5px;
}
/*------------------Users---------------------*/
.users-box table{
  text-align: center;
}
